header{
    height: 6vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
}

.headerClass{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 3vw;
    align-items: center;
    width: 30%;
}

.headerClass ul li{
    list-style: none;
    font-size: 1.65rem;
}

.headerClass ul{
    display: flex;
    column-gap: 2vw;
}

.headerClass a{
    text-underline-offset: 8px;
    color: #297C50;
}

.headerClass a:hover{
    color: #000000;
}